/* Selbst gehostete Schriften (variable Fonts, Zeichensatz "latin" inkl. Umlaute und ß).
   Lizenz: SIL Open Font License 1.1, siehe assets/fonts/LICENSE-*.txt.
   Kein Abruf von Drittservern (Datenschutz). */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/montserrat-latin-wght-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/montserrat-latin-wght-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/noto-serif-latin-wght-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/noto-serif-latin-wght-italic.woff2") format("woff2");
}
